* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./imgs/blue_green_sea.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .btnLogin-popup {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #162938;
}

.wrapper{
    /* 使用wrapper的只有表单收集页面，他在body里面，body中定义了center，所以这里不必定义 */
    position: relative;
    width: 400px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgb(180, 166, 171);
    display: flex;
    justify-content: center; /* flex元素的水平居中对齐 */
    align-items: center; /*最外层容器中所有子容器竖直排列*/
    /* overflow: hidden; */
    /* 超出这个容器外部的内容称作overflow，hidden隐藏表示超出的组件的超出部分变为transparent */
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height:45px;
    color: #fff;
    background: #162938;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;;
}

/* .wrapper .form-box.login{
    display: none;
} */

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;/* label的所有动作会有0.5秒动画效果 */
}

/* 当用户点击输入框（focus）或者输入框的内容有效（valid）时，将 <label> 标签向上移动（通过设置 top: -5px），从而为用户输入内容腾出空间。 */
.input-box input:focus ~ label,
/* 当页面焦点在input-box中的input标签上和input标签中输入内容是符合html标签type属性中内容时（如type = "mail"，填入的内容是邮箱，这一点由浏览器判断）激发向上移动5px */
.input-box input:valid ~ label {
    /* 输入框在为空时不触发 :valid表示合法，如果input标签中没有required属性表示不输入为空依然合法 */
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-weight: 600;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    /* bottom: 20%; */
    font-size: 1.2em;  /* 图标当做字体用？ */
    line-height: 57px;;
}

.remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget input label{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a{
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.login-register{
    text-align: center;
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 20px 0 15px 0;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
